<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @gallery.id %>
</p>

<p>
  <b>Showcase list:</b>
  <%= @gallery.showcase_list %>
</p>

<p>
  <b>Description:</b>
  <%= @gallery.description %>
</p>


<%= link_to 'Edit', edit_gallery_path(@gallery) %> |
<%= link_to 'Back', galleries_path %>
