<br /><br />

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    
   <b> <%= f.text_field :email,class: "tb", :placeholder => "Email" %></b>
  </div>

<div class="field">
   
   <%= f.password_field :password, class: "tb", :placeholder => "Password" %>
</div>
<div class="field">
   
   <%= f.password_field :password_confirmation, class: "tb", :placeholder => "Password Confirmation" %>
</div>

  <div class="actions">
    <%= f.submit "Send", class: "btn btn-primary btn-lg" %>
    <a class="btn btn-primary btn-lg" role="button">register</a>
  </div>
<% end %>
